<div class="form-box">
  <h2>Login</h2>
  <form>
    <div class="user-box">
      <input type="text" name="Email" [(ngModel)]="Email"  required [ngModelOptions]="{ standalone: true }">
      <label>E-mail</label>
    </div>
    <div class="user-box">
      <input type="password" name="Senha" [(ngModel)]="Senha" required [ngModelOptions]="{ standalone: true }">
      <label>Senha</label>
    </div>
    <a href="#" (click)="login()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Entrar
    </a>
    <a [routerLink]="'/cadastro'" >Cadastre-se</a>
  </form>
</div>


